/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}

body{

background:#f4f4f4;

}

/* =======================

NAVIGATION BAR

======================= */

header{

width:100%;

background:white;

box-shadow:0 2px 15px rgba(0,0,0,.1);

position:sticky;

top:0;

z-index:1000;

}

.navbar{

width:90%;

max-width:1300px;

margin:auto;

height:80px;

display:flex;

justify-content:space-between;

align-items:center;

}

/* Logo */

.logo{

font-size:30px;

font-weight:bold;

color:#ff5722;

cursor:pointer;

}

/* Navigation */

.nav-links{

display:flex;

list-style:none;

align-items:center;

gap:35px;

}

.nav-links li a{

text-decoration:none;

font-size:18px;

font-weight:500;

color:#333;

transition:.3s;

}

.nav-links li a:hover{

color:#ff5722;

}

/* Active Link */

.active{

color:#ff5722 !important;

}

/* Cart */

#cart-count{

background:#ff5722;

color:white;

padding:2px 8px;

border-radius:20px;

font-size:13px;

margin-left:5px;

}

/* Responsive */

@media(max-width:768px){

.navbar{

flex-direction:column;

height:auto;

padding:20px;

}

.nav-links{

margin-top:20px;

flex-direction:column;

gap:20px;

}

}